@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #00c7ff;
}

.menu {
  transition: 0.3s;
}
.menu:hover{
  font-size: 20px;
}

.font-titulo {
  font-family: 'IBM Plex Serif', serif;
}

#tamanho-titulo {
  font-size: 26px;
  font-weight: bold;
}
.img {
  height: 60px;
  margin-left: 25px;
  margin-right: 10px;
}

.imagem {
  object-fit:cover;
  height: 400px;
  object-position: 0 -38%;
  filter: blur(5px)
}

.titulo-carrossel {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 80px;
}

.img-card {
  box-sizing: border-box;
}
.imagem-plano {
  width: 100%;
  height: 100%;
  position: relative;
}

.titulo-card {
position: absolute;
width: 100%;
text-align: center;
top:25%;
font-weight: bold;
color: #00c7ff;
font-size: 50px;
}

h2, p {
  color: black;
}

.caixa {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  
}

.botao {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
}

.centrobnt{
  text-align: center;
}

.botao:hover{
  font-size: 23px;
  background: rgb(219, 214, 214);
  
}

footer {
  width: 100%;
  height: 100px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
} 

.texto-rodape {
  width: 100%;
  opacity: 0.5;
  text-align: center;
  font-size: 16px;
  color: rgb(54, 54, 54);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.texto-rodape:hover {
  color: rgb(54, 54, 54);
  font-size: 20px;
}

@media screen and (max-width: 992px)  {
  .margem-cards {
    margin: 25px 0;
  }
}

@media screen and (max-width: 600px) {

  .imagem {
    height: 500px;
  }
  .img1 {
    object-position: 50% -38%;
  }

  .img2 {
    object-position: 50% -38%;
  }

  .img3 {
    object-position: 50% -38%;
  }
}