
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

body{
  background: #00c7ff;
}


/* .menu {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 20px;
  transition: 0.5s;
} */

.menu:hover{
  font-size: 23px;
}

.img {
  height: 60px;
  margin-left: 25px;
  margin-right: 10px;
}

/* .nav {
  margin-right: 25px;
} */
.imagem {
  object-fit:cover;
  height: 400px;
  width: 400px;
  margin-top: 0px;
}

h2, p {
  color: black;
}

.caixa {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  
}
.botao {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px;
}
.centrobnt{
  text-align: center;
}
.botao:hover{
  font-size: 23px;
  background: rgb(219, 214, 214);
  
}

footer {
  width: 100%;
  height: 100px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
} 

.texto-rodape {
  width: 100%;
  opacity: 0.5;
  text-align: center;
  font-size: 16px;
  color: rgb(54, 54, 54);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.texto-rodape:hover {
  color: rgb(54, 54, 54);
  font-size: 20px;
}
