* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #00c7ff;
}

.menu {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 20px;
 
}
.menu:hover{
  font-size: 23px;
}

.img {
  height: 60px;
  margin-left: 25px;
  margin-right: 10px;
}
.nav {
  margin-right: 25px;
}

.form{
  
  margin: 100px;
  padding: 20px;
  width: 550px;
  border: 1px solid white;
  border-radius: 5px;
  background: #f8f9fa;
  margin-left: auto;
    margin-right: auto;
  

}
.formulario{
  font-size: 18px;
 
}
label {
  margin: 8px 0px;
}
.senha{
  text-align: end;
  text-decoration: none;
  font-size: 15px;
  
}
.bnt{
  margin-top: 12px;
}


footer {
  width: 100%;
  height: 100px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
}

.texto-rodape {
width: 100%;
opacity: 0.5;
text-align: center;
font-size: 16px;
color: rgb(54, 54, 54);
text-decoration: none;
cursor: pointer;
transition: 0.5s;
}

.texto-rodape:hover {
color: rgb(54, 54, 54);
font-size: 20px;
}

@media screen and (max-width:600px) {
  .form {
    width: 300px;
  }
  footer {
    position: relative;
  }
}
