
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position:relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://images.pexels.com/photos/1342460/pexels-photo-1342460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
.contact .content
{   max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
 
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contatoInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contatoInfo .box{

    position: relative;
    padding: 20px 0;
    display: flex;
     
}

.container .contatoInfo .box .icone{

    min-width: 60px;
    height:60px;
    background:#fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius:50%;
    font-size:22px;

}

.container .contatoInfo .box .texto
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contatoInfo .box .texto h3{

    font-weight: 500;
    color: #00bcd4;

}

.contatoformulario {
    width: 40%;
    padding: 40px;
    background: #fff;

}

